.subheads{
	color: rgb(255, 0, 0);
	margin: 0 ;
	text-align: center;
	font-weight: 200;
	font-family: "Times New Roman";
}
.head{
	width: 600px;
	height:70px;
	margin: 0 auto;
	margin-top:25px;
	background-color: rgba(255,255,255,0.5);
}
.subjects{
	width:700px;
	height:1000px;
	margin-top: 50px;
	margin:0 auto;
	background-color: rgba(255,255,255,0.5);
	font-size: 25px;
}
.tbnames{
	text-align: center;
	font-weight: bold;
	color:black;
	font-family: 'Handlee',cursive;
}
.img-container{
	width:130px;
	height: 180px;
	margin-left: 20px;
}
h1{
	text-align: center;
	font-family: 'Handlee', cursive;
	color: black;
}
.shead{
	color:black;
	text-align: center;
	font-family: 'Handlee', cursive;
}
body{
	background-image: url("images/library.jpg");
	height:100%;
	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}