h1{
	padding-top: 1.5px;
}
.head{
	width: 600px;
	height:60px;
	margin: 0 auto;
	margin-top:25px;
	background-color: rgba(255,255,255,0.8);
	border-radius: 15px;
}
.subjects{
	width:700px;
	height:1000px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin:0 auto;
	background-color: rgba(255,255,255,0.8);
	font-size: 25px;
	border-radius: 15px;
}
.tbnames{
	text-align: center;
	font-weight: bold;
	padding: 5px 0 0 0;
	color:black;
	font-family: 'Handlee',cursive;
}
.img-container{
	width:130px;
	height: 180px;
	margin-left: 32px;
	transition: transform .2s;
	opacity:0.7;
}
img:hover{
	opacity:1.2;
	transform: scale(1.2);
}
h1{
	text-align: center;
	font-family: 'Handlee', cursive;
	color: black;
}
.shead{
	color:black;
	text-align: center;
	font-family: 'Handlee', cursive;
}
body{
	background-image: url("images/library.jpg");
	height:100%;
	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}